.layout {
  display: flex;
  justify-content: center
}

.carinfocolor {
  background: #f8f8f8;
  align-items: center
}

.carname {
  font-weight: 600;
  font-size: 3.75rem;
  margin: -200px 861px 0 -190px;
  font-family: Raleway, sans-serif !important;
  margin-left: 110px
}

.carinfo {
  display: flex;
  justify-content: center;
  line-height: 2;
  font-weight: 700;
  font-size: 1.8rem;
  margin: -80px 13px 150px 13px;
  font-family: Roboto, sans-serif !important;
  margin-left: 770px
}

.img {
  display: flex;
  justify-content: center;
  margin-left: 350px
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 3%
}

.Abtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px
}

.res {
  border-style: solid;
  border-radius: 23px !important;
  border-color: #000 !important;
  color: #000 !important;
  background-color: transparent !important;
  margin-left: 540px
}

.option {
  background-color: #fff;
  text-align: center;
  font-size: 1.6rem;
  border-style: solid;
  border-radius: 23px !important;
  border-color: #000 !important;
  color: #000 !important
}

.option>span.off {
  color: #fff;
  background-color: #478ac9;
  border-style: solid;
  border-radius: 10px !important;
  border-color: #478ac9 !important;
  opacity: .4
}

.option>span.on {
  color: #fff;
  background-color: #478ac9;
  border-style: solid;
  border-radius: 10px !important;
  border-color: #478ac9 !important
}

.plusbutton {
  display: flex;
  justify-content: center;
  margin-bottom: 30px
}

.tabCont {
  margin: 100px
}

.infoTypeIco {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center
}

div.txt {
  margin: 0 100px 0 100px
}

#tabContent01,
#tabContent02,
#tabContent03,
#tabContent04,
#tabContent05,
#tabContent06 {
  display: block;
  height: 9px;
  margin: 30px -20px;
  border-top: 1px solid #eaeaea;
  background: #f8f8f8
}

.fig {
  display: inline-block;
  width: 72px;
  height: 72px;
  padding-top: 20px;
  border-radius: 50%;
  background: #f8f8f8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.beware {
  background-color: #f3dcdc
}

[class^=tbl] td:first-child,
[class^=tbl] th:first-child {
  border-left: none
}

[class^=tbl] th {
  color: #202020;
  font-weight: 600;
  background: #f8f8f8
}

[class^=tbl] td,
[class^=tbl] th {
  padding: 12px 16px;
  line-height: 1.44;
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea
}