.reservePanel{
    border: 2px;
    border-color: black;
}

#quickBtnDiv{

}

.quickBtnUl{
    text-align: center;
    margin-top: 40px;
}

.quickBtn{
    display: inline-block;
    text-align: center;
    border: 1px solid 	#0099ff;
    border-radius: 20%;
    padding: 20px;
    margin-left: 40px;
    box-shadow: 0 0 2px grey;
}

.underQuickBtn{
    width: 130px;
    height: 130px;
    display: inline-block;
    text-align: center;
    border: 1px solid 	#0099ff;
    border-radius: 50%;
    padding: 15px;
    margin-left: 40px;
    box-shadow: 0 0 4px grey;
}

.containerReserve{
    border-radius: 20%;
    padding: 10px;
    border: 2px;
    border-color: black;
}

.reserveOptionUl{
    list-style: none;
    text-align: center;
    display: inline-block;
}

.reserveOptionLi{
    float: left;
    margin-left: 60px;
    text-align: center;
}

.selectCar{
    border: 1px solid 	#0099ff;
    border-radius: 5%;
    padding: 15px;
}

#choosedate{
 border: 1px solid 	#0099ff;
 border-radius: 6%;
 padding: 15px;
}

.reserveBtn{
    border: 1px solid 	#5abdff;
    background-color: transparent;
    color: #5abdff;
    width: 120px;
    height: 70px;
    font-size: 1.5em;
    
}

.reserveBtn:hover{
    background-color: #5abdff;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*충전소 검색, 주변 편의시설 검색*/

.containerFindDiv{
    text-align: center;
}

.findInput{

    border: 1px solid 	#0099ff;
    width: 800px;
    padding: 15px;
    text-align: center;

}

.findBtn{
    border: 1px solid 	#5abdff;
    background-color: transparent;
    color: #5abdff;
    width: 80px;
    height: 40px;
    font-size: 1.5em;
}

.findBtn:hover{
    background-color: #5abdff;
    color: white;
}

/*사진 슬라이드 구현부*/

#slide_warp {
    width: 100%;
    height: 10vh;
}
#slide_group_view {
    width: 40%;
    height:60%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
#slide_group {
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: blueviolet;
    /* height: 100%; */
}
.slide_img {
    position: absolute;
    top:70%;
    /* transform: translateY(-30%); */
    left: 0;
    width: 100%;

}
#nav a {
    display: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    text-align: center;;
}
.prev {
    display: hidden;
    margin-left: calc(-20% - 75px);
}
.next {
    display: hidden;
    margin-left: calc(20% + 25px);
}