h1 {
  font-size: 1.75rem;
  color: burlywood;
  margin: auto;
  text-align: center;
}
 
.container {
  display: flex;
  padding: 2em;
}
 
.component {
  border: 1px solid burlywood;
  margin: 1em;
}
 
.title {
  font-size: 1.5rem;/* 제목의 크기가 동일*/
  padding: 1em;
  background-color: burlywood;
}
 
.contents {
  font-size: 1.125rem;
  padding: 1em;
}
 
/*폰트크기에 따라 변경되는 스크린 너비를 반응형으로 작성*/
@media screen and (max-width: 48rem) { 
  .container {
    flex-direction: column;
  }
}